@media(max-width:1023px) {
   /* header img {
        width: 120px;
        height: 120px;
    } */

    .wrapper {
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        justify-content: center;
        width: 45%;
        align-items: center;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    } 

    .header-mobile {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #4b33a8;
        position: fixed;
        width: 100%;
    }

    .header-mobile .logo {
        font-size: 24px;
    } 

    .open-menu, .close-menu {
        background-color: transparent;
       /* color: var(--clr-gray);*/
        border: 0;
        font-size: 32px;
        cursor: pointer;
    } 

    .close-menu {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
    } 

    header img {
        width: 100px;
        height: 100px;
        display: none;
    }

    .gallery {
        margin-top: 80px;
    } 

    .contact-section {
        margin-top: 50px;
    } 

    .servicios-section2 {
        padding-top: 90px;
    }

   /*  .social-icons a {
        gap: 50px;
        margin: 5px 5px;
        padding: 1px;
        font-size: 13px;
        width: 21px;
        height: 21px;
    } */

    .contenido-servicios-index {
        width: 60%;
    }

    .icons-index-contenedor {
        width: 60%;
    }
}

@media(max-width:767px) {

    .inicio_section-text h1 {
        font-size: 40px;
        margin-top: 50px;
    }

    .inicio_section-text p {
        font-size: 25px;
        padding: 30px;
    } 

   /*  .header-mobile {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        font-size: 24px;
    } */

  /*  .open-menu, .close-menu {
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 32px;
        cursor: pointer;
    } 

    .close-menu {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
    } */

    /* #footer2 {
        display: flex;
        background-color: var(--clr-main);
        border-top: 2px solid white;
    }

    .direccion {
        color: white;
    }

    .footer2-container {
        display: flex;
        align-items: center;
        margin: 5px;
        gap: 50px;
    } */

   /* header img {
        width: 100px;
        height: 100px;
        display: none;
    } */

    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	} 

    /* .social-icons a {
         margin: 0px 5px;
         padding: 1px;
         font-size: 20px;
         width: 30px;
         height: 30px;
    } */ 

    /* 
    .contenido-servicios-index {
        width: 60%;
    }

    .icons-index-contenedor {
        width: 60%;
    } */ 

    .contenedor1 img,  
    .contenedor2 img, 
    .contenedor3 img {
        display: none;
    }
    .contenido-servicios {
        gap: 0px;
        margin-bottom: 20px;
    } 

    /* .contenido-servicios-orden-index:last-child {
        margin-top: 20px;
    } */

    .contact-section {
        flex-direction: column; 
    } 

    .contact-contenedor {
        flex-direction: column; 
    } 
    
    .footer2-container {
        flex-direction: column;
        gap: 0px;
    } 

    /*  .iframe-video {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    } */
}

@media(max-width:500px) {

    aside {
        width: 45%;
    }

    .header-mobile .logo {
        font-size: 20px;
    }

    .inicio_section-text h1 {
        font-size: 20px;
    }

    .inicio_section-text p {
        font-size: 16px;
        width: 100%;
        padding: 100px;
    } 

    /*.contenido-servicios-orden-index:last-child {
        margin-top: 20px;
    } */

    .splide__slide img {
        width: 90%;
        height: 150px;
        border-radius: 10px;
    } 

    .slide-index {
        /* background-color: black; */
        width: 90%;
        margin: 0 auto;
    } 
} 

@media(max-width:400px) {
    .inicio_section-text h1 {
        font-size: 16px;
    } 

   /* .contenido-servicios-index {
        flex-direction: column;
    }*/

    .contenido-servicios-orden-index {
        margin: 0px;
        justify-content: center;
    }
}