@media(max-width:1366px) {

}

@media(max-width:1023px) {
    .contact-form {
        width: 50%;

    .contact-form legend {
            font-size: 16px; 
        }
    }
} 

@media(max-width:767px) {

    .contenido-contacto-index {
        flex-direction: column;
    } 

    .contenido-contacto-orden-index1,
    .contenido-contacto-orden-index2,
    .contenido-contacto-orden-index3 {
        padding: 0px;
    }
    .contact-form legend {
        font-size: 20px; 
    } 

    .contact-form input, .contact-form textarea {
        font-size: 12px;
    }

    .contact-form input[type="submit"] {
        font-size: 12px;
    }

    .contact-form {
        width: 70%;
    }

    .contact-section {
      /*   margin: 0px; */
        margin-bottom: 20px;
    }

    /*  
    .contact-contenedor {
      margin: 0px;
    } */

    @media(max-width:500px) {
        
    }
}
